<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Elizabeth Quiroz</h2>
                  <h2 class="section-subheading">(763)273-6208</h2>
                  <h2 >
                    <a class="section-subheading-link" href="mailto:eliquiroz20@gmail.com">eliquiroz20@gmail.com</a>
                  </h2>
                  <h2 class="section-subheading">11228 6th ST NE</h2>
                  <h2 class="section-subheading">Blaine, MN 55434</h2>
                </div>
            </div>
        </div>
    </section>
